.App {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.App-logo {
  height: 10vmin;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}

header {
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0 ,0.1);
}

aside {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0 ,0.1);
}

main {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0 ,0.1);
}

footer {
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}