.App {
  text-align: justify;
}

.App-logo {
  height: 10vmin;
}

@media (min-width: 600px) {
  header {grid-area: 1 / span 6;}
  main {grid-area: 2 / span 4;}
  footer {grid-area: 3 / span 6;}
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 13%;
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}