.App {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
}

header {
  padding: 1rem;
  width: 100%;
  top: 0;
  background-color: #333;
  margin-bottom: 0;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0 ,0.1);
}

@media (min-width: 600px) {
  main-content {
    grid-template-columns: 1fr 3fr;
  }
}
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

footer {
  position: fixed;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: #333;
}