.App {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
}

header {
  width: 100%;
  top: 0;
  background-color: #fff;
}

.carousel-item {
  height: 350px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0 ,0.1);
}

@media (min-width: 600px) {
  .App-logo {
    height: 8vmin;
  }
  .carousel-caption {
      display: none; 
    }
  main-content {
    grid-template-columns: 1fr 3fr;
  }
}

footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}